VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_CLOSERS_SCHEMA=dw_bitrix
VITE_SUPABASE_CLOSERS_TABLE=dim_usuario_bitrix
VITE_SUPABASE_CLOSERS_TYPE_COLUMN=tipo_usuario
VITE_SUPABASE_CLOSERS_NAME_COLUMN=nome_usuario
VITE_SUPABASE_CLOSERS_ID_COLUMN=user_id
VITE_SUPABASE_CLOSERS_ACTIVE_COLUMN=is_active
VITE_AUTH_ALLOWED_DOMAIN=quartavia.com.br
VITE_PAYMENT_WEBHOOK_URL=https://n8n-n8n.orsh7l.easypanel.host/webhook/dados-pagamento
